# Client
client/node_modules/
client/.next/
client/out/
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/.DS_Store
client/Thumbs.db

# Server
server/.bundle
server/.env*
server!/.env*.erb
server/log/*
server/tmp/*
server/!/log/.keep
server/!/tmp/.keep
server/tmp/pids/*
server/!/tmp/pids/
server/!/tmp/pids/.keep
server/storage/*
server!/storage/.keep
server/tmp/storage/*
server/!/tmp/storage/
server/!/tmp/storage/.keep
server/public/assets
server/config/master.key
server/app/assets/builds/*
server/!/app/assets/builds/.keep
server/.vscode/*
server/.vscode
server/node_modules
